twilio==8.1.0  # Versión estable de la librería de Twilio
schedule==1.2.1 # Librería para la programación de tareas
Flask==3.1.2
gunicorn==21.2.0
# Puedes agregar otras dependencias si las usas, como python-dotenv si la usas para cargar las variables   